accounts:
  - username: 12345
    password: mygreatpassword
    name: My Optional Display Name
  # You can check multiple accounts
  - username: 54321
    password: mywifespassword
    email: mywife@gmail.com #optional
email: my.email@gmail.com
pushbullet:
  api_key: usethisformorenitifications
library:
  base_url: http://applesauce.com
