accounts:
  - id: 12345
    password: mygreatpassword
  # You can check multiple accounts
  - id: 54321
    password: mywifespassword
    email: mywife@gmail.com #optional
email: my.email@gmail.com
pushbullet:
  api_key: usethisformorenitifications
library:
  base_url: http://applesauce.com
